/*Body*/

body{
    background-color: #131313 !important;
    max-width: 100%;
    overflow-x: hidden;
}

/*Navbar*/
.nav-conteiner{
    background-color: #000000 !important;
    list-style: none;
    position: relative;
    top: -10px;
    width: 100%;
    height: 100px;
}

.nav{
   display: flex;
   justify-content: center;
   align-items: center;
   list-style: none;
}

.list-nav{
    position: relative;
    top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 50px;
}

.list-nav li a{
    text-decoration: none !important;
    color: white;
    font-size: larger;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#Foto-logo{
    width: 50px;
    height: auto;
    position: relative;
    left: 100px;
    top: 20px;
}
/*Conteúdo da HomePage*/

.content-conteiner{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.werePhonk{
    color: aliceblue;
    display: flex;
    position: relative;
    left: 50px;
    justify-content: center;
    align-items: center;
    font-family: 'DO Futuristic', sans-serif;
    font-size: 80px;
    transition: transform 1s;
    transform: translateX(0) scale(0.8);
}

.werePhonk:hover{
    color: aliceblue;
    display: flex;
    position: relative;
    left: 50px;
    justify-content: center;
    align-items: center;
    font-family: 'DO Futuristic', sans-serif;
    font-size: 80px;
    transition: transform 1s;
    transform: translateX(0) scale(0.9);
}

/* As coisa da imagem */
.aLua {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: zoomInOut 3s infinite alternate;
  }
  
  /* A animação */
  @keyframes zoomInOut {
    0% {
      transform: translate(-50%, -50%) scale(1.5);
    }
    50% {
      transform: translate(-50%, -50%) scale(1.7);
    }
    100% {
      transform: translate(-50%, -50%) scale(1.5);
    }
  }
  



/*Footer*/


.footer-basic {
    padding: 40px 0;
    background-color: #000000;
    color: #fff;
    text-align: center;
    position: relative; 
    bottom: -800px; 
    width: 100%; 
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: left;
    margin-left: 10%;
    margin-top: -1%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

.footer-basic li {
    padding: 0 10px;
    display: inline-block;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
    margin-top: 5px;
    display: flex;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social a:hover {
    opacity: 1;
}

.footer-basic img {
    width: 7%;
    height: 5%;
    margin-left: 80%;
    margin-top: -12%;
}

@media (min-width: 1550px) and (max-width: 1800px) {
    .footer-basic img {
        width: 10%;
        height: 9%;
        position: relative;
        top: 10px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    margin-bottom: 100px; /* A altura do footer */

}


/* Sobre */

.Texto-Sobre-conteiner{
    width: 500px;
    font-size:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 35%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: justify;
 }

 .Texto-Nos-conteiner{
    width: 500px;
    font-size:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 35%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: justify;
 }

 .Tutorial-conteiner{
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    flex-direction: column;
 }

 #tutorial-title{
    position: relative;
    left: -25px;
    
    
 }

 #tutorial-real{
    
    position: relative;
    top: 50px;
    right: 122px;
 }

 #Lua-title{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 40px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .button-jogar {
    padding: 40px 80px;
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #3a3a3a;
    border: 2px solid #3a3a3a;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    position: relative;
    top: 500px;
    left: 42%;
}

.button-jogar:hover {
    background-color: #2a2a2a;
    border-color: #2a2a2a;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

/*Jogo*/

.floresta-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 10px;
}

.floresta-container {
    position: relative;
    width: 100%;
}

.floresta-img {
    width: 100%;
    height: 800px;
}

.lobisomem, .pedra {
    position: absolute;
    bottom: 0;
}

.lobisomem {
    left: 50%; /* Ajuste a posição horizontal do lobisomem conforme necessário */
    transform: translateX(-50%); /* Centraliza o lobisomem horizontalmente */
    width: 100px; /* Ajuste o tamanho do lobisomem conforme necessário */
    height: auto;
}

.pedra {
    width: 120px; /* Defina o tamanho da pedra conforme necessário */
    height: 120px; /* Defina o tamanho da pedra conforme necessário */
    position: absolute;
    top: 0;
    z-index: 10; /* Certifique-se de que está acima de outros elementos */
    animation-name: cair;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    background-image: url('Fotos/Pedra.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Isso garantirá que a imagem cubra todo o elemento */
}

@keyframes cair {
    from { top: 0; }
    to { top: 107vh; } /* Queda até o fim da janela */
}

.score {
    position: absolute;
    top: 320px; /* Ajuste a posição vertical do texto */
    right: 10px; /* Ajuste a posição horizontal do texto */
    color: white; /* Cor do texto */
    font-size: 30px; /* Tamanho da fonte */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}